*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html { 
height: 100%;
width: 100%;

}

body{
    background-image: url('images/pika.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#chart1{
    font-size: 18;
    color: red;
}